[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = lihengl
	email = lihengl@users.noreply.github.com
[alias]
	cm = commit
	co = checkout
	a = add
	b = branch
	d = diff
	f = fetch
	l = log
	m = merge
	p = push
	r = rebase
	s = status
